/****************************************************
	파일명	: common.css
	최초작성자	: 이민혁
	최초작성일	: 2024-09-28
	-------------------------------------------------
	Dec. 공통 스타일링 정의
	-------------------------------------------------
	최종수정자	: 이민혁
	최종수정일	: 2024-09-28
	수정내용	: 최초작성
	속성순서    : 레이아웃 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
	주의사항    : 선택자 최소 2개로 지정, CSS 우선 순위보다 낮게 지정
*****************************************************/

/* 공통 변수 정의 */
:root {
/* color */
/* gray - scale */
--white00: #fff;
--gray00: #f8f8f8;
--gray01: #f0f0f0;
--gray02: #e4e4e4;
--gray03: #d8d8d8;
--gray04: #c6c6c6;
--gray05: #8E8E8E;
--gray06: #717171;
--gray07: #555555; 
--black00: #1d1d1d; 
--black01: #000; 

/* blue */
--lightblue00: #EDF1F5;
--blue00: #246BEB;
--blue01: #1d56bc; 
--navy00 : #003675;

/* red */
--red00 : #E71825;

/* yellow */
--yellow00 : #D68F00;
--yellow01 : #98690A;

/* font size */
--fontLv1 : 4rem;
--fontLv2 : 3.2rem;
--fontLv3 : 2.5rem;
--fontLv4 : 2.1rem; 
--fontLv5 : 1.9rem; 
--fontLv6 : 1.7rem; 
--fontLv7 : 1.5rem; 

/* padding */
--padding00: 0.8rem;
--padding01: 1.2rem;
--padding02: 1.6rem;

/* border */
--border00: 0.6rem;
--border01: 0.8rem;
}

/* font */
.el-text-lv1 { font-weight: 700;font-size: var(--fontLv1);}
.el-text-lv2 { font-weight: 700;font-size: var(--fontLv2);}
.el-text-lv3 { font-weight: 700;font-size: var(--fontLv3);}
.el-text-lv4 { font-weight: 700;font-size: var(--fontLv4);}
.el-text-lv5 {font-size: var(--fontLv5);}
.el-text-lv6 {font-size: var(--fontLv6);}
.el-text-lv7 {font-size: var(--fontLv7);}

/* button */
button {font-weight: 400;}
.el-btn {border-radius: var(--border00);}
.el-btn-s {display: inline-flex; padding: 1.1rem 1.6rem; align-items: center; justify-content: center; min-height: 4.8rem; border-radius: .8rem;}
.el-btn-m { display: inline-flex; width: 11.5rem; padding: 1.1rem 0;font-size: 1.7rem; align-items: center; justify-content: center; border-radius: .8rem; min-height: 4.8rem;}
.el-btn-xs {padding: .8rem .6rem; font-size: 1.3rem; line-height: 100%; border-radius: .2rem;}
.el-btn-ss {padding: .8rem 1rem; font-size: 1.5rem; line-height: 100%; border-radius: .6rem;}
.el-btn-ss-01 { display: inline-flex;padding: 1rem; font-size: 1.5rem; line-height: 100%; border-radius: .6rem; align-items: center; justify-content: center;}

/* el-btn-m variation */
.el-btn-m.hp-bg-lblue-00 {border: .1rem solid var(--blue00); color: var(--blue00);}


/* 새로고침 */
.el-btn-refresh { display: inline-flex; border: .1rem solid var(--black00); background: var(--white00); align-items: center; gap: .4rem;}
.el-btn-refresh::before { display: inline-block; width: 1.6rem; height: 1.6rem; background: url(../assets/images/icon_refresh_00.svg) no-repeat center;content: '';}
/* content-box */
.el-cont-00 {padding: 4rem; border: .1rem solid var(--gray04); border-radius: 1.2rem;} 
.el-cont-01 {padding: 4rem; border-radius: 1.2rem;}
/* search-content box */
.el-search-cont {padding: 2.4rem; background: var(--lightblue00); border-radius: 1.2rem;}
.el-search-cont input[type="text"], .el-search-cont select {height: 4.8rem;}
input[type="text"].bl-search-input {background: #fff; background-image: url(../assets/images/icon_search_00.svg); background-repeat: no-repeat; background-size: 2rem auto;  background-position: right 1.6rem center;}
/* 아이콘 별 공통 button 스타일 */
.el-btn-m.btn-next::after { display: inline-block; width: 2rem; height: 2rem; background: url(../assets/images/icon_arrow_00_right_white_20x20.svg) no-repeat center;content: ''; margin-left: .4rem;}
.el-btn-m.btn-prev::before { display: inline-block; width: 2rem; height: 2rem; background: url(../assets/images/icon_arrow_00_left_black_20x20.svg) no-repeat center;content: ''; margin-right: .4rem;}
.el-btn-m.btn-print::after { display: inline-block; width: 2rem; height: 2rem; background: url(../assets/images/icon_print_00_white.svg) no-repeat center;content: ''; margin-left: .4rem;}
/* list toggle custom */
.el-toggleList {display: inline-flex; align-items: center;}
.el-toggleList::after { display: inline-block; width: 1.6rem; height: 1.6rem; background: url(../assets/images/icon_arrow_00_bottom_16x16.svg) no-repeat center;content: ''; margin-left: .2rem; transition: rotate .5s;}
.el-toggleList.is-open::after {transform: rotate(180deg);}
/* label */
.el-mustType::after { color: red;content: '*'; margin-left: .3rem;}      
/* icon */
/* 16 x 16 */
.el-before-16.align-top-8::before {margin-top: .6rem;}
.el-before-16::before {display: inline-block; min-width: 1.6rem; height: 1.6rem; content: ''; min-width: 1.6rem;}
.el-before-16.check-caution::before {background: url(../assets/images/icon_check_00_bkbl_16x16.svg) no-repeat center;}
/* 20 x 20 */
button.el-before-20{width: 2rem; height: 2rem;}
.el-before-20::before {display: inline-block; min-width: 2rem; height: 2rem; content: '';}
.el-before-20.close::before {background: url(../assets/images/icon_close_00_20x20.svg) no-repeat center;}
.el-before-20.caution::before {background: url(../assets/images/icon_caution_00_20x20.svg) no-repeat center;}
.el-before-20.check-success::before {background: url(../assets/images/icon_check_00_green_24x24.svg) no-repeat center; background-size: contain;}
/* 24 x 24 */
button.el-before-24{width: 2.4rem; height: 2.4rem;}
.el-before-24::before { display: inline-block; min-width: 2.4rem; height: 2.4rem;content: '';}
.el-before-24.before-start::before {background: url(../assets/images/icon_before_start_00.svg) no-repeat center;}
.el-before-24.check-success::before {background: url(../assets/images/icon_check_00_green_24x24.svg) no-repeat center;}
.el-before-24.check-fail::before {background: url(../assets/images/icon_check_00_red_24x24.svg) no-repeat center;}
.el-before-24.error-red::before {background: url(../assets/images/icon_error_red.svg) no-repeat center;}
.el-before-24.wait-yellow::before {background: url(../assets/images/icon_waityellow_00.svg) no-repeat center;}
.el-before-24.voice::before {background: url(../assets/images/icon_voice_00_24x24.gif) no-repeat center;}
.el-before-24.reset::before {background: url(../assets/images/icon_reset_00_24x24.gif) no-repeat center;}

/* form */
input[type=text], input[type=number], input[type=tel], input[type=password], select, textarea {width: 100%;}
input, select { font-size: 1.9rem;vertical-align: middle; border-radius: .8rem; max-width: 100%;}
input:not([type=file],[type=checkbox],[type=radio]):read-only { border: .1rem solid var(--gray04);background: var(--gray03)!important; color: var(--black00);}
.hp-readonlyStyle00 {color: var(--gray06);}
 /* input */
input[type="tel"], input[type="text"], input[type="password"], input[type="search"], input[type="email"] {height: 5.6rem;padding: 0 1.6rem;border: .1rem solid #717171;background: var(--white00);color: #8E8E8E;}
select {height: 5.6rem;}

.el-select-00 { padding: 0 4.8rem 0 1.6rem; border: .1rem solid #717171;background: url(../assets/images/icon_arrow_00_bottom_16x16.svg); background-repeat: no-repeat; background-position: center right 1.6rem; appearance: none; background-color: var(--white00); background-size: 2.4rem 2.4rem;}
/* check box */
.el-check-00 input[type="checkbox"]{ position: relative;width: 2.4rem; height: 2.4rem; margin: 0; border: .1rem solid #717171; cursor: pointer; border-radius: .4rem; accent-color: var(--blue00); appearance: none;}
.el-check-00 input[type="checkbox"]:checked::after { display: inline-block; position: absolute; top: 50%; left: 50%; width: 2rem; height: 2rem; background: url(../assets/images/icon_check_00_white_20x20.svg) no-repeat center; color: #fff;content: ''; transform: translate(-50%, -50%); background-size: cover;}
.el-check-00 input[type="checkbox"] + label {font-weight: 700; cursor: pointer; vertical-align: middle;}
.el-check-00 input[type="checkbox"]:checked {background-color: var(--blue00); border-color: var(--blue00);}

.el-radio-00 > input[type="radio"]{width: 2.4rem; height: 2.4rem; margin: 0;}


/* margin */
/* top */
.mt-5 {margin-top: 0.5rem;}
.mt-10 {margin-top: 1rem;}
.mt-12 {margin-top: 1.2rem;}
.mt-16 {margin-top: 1.6rem;}
.mt-17 {margin-top: 1.7rem;}
.mt-24 {margin-top: 2.4rem;}
.mt-32 {margin-top: 3.2rem;}
.mt-40 {margin-top: 4rem;}
.mt-64 {margin-top: 6.4rem;}
.mt-80 {margin-top: 8rem;}
/* bottom */
.mb-5 {margin-bottom: 0.5rem;}
.mb-10 {margin-bottom: 1rem;}
.mb-15 {margin-bottom: 1.5rem;}
.mb-16 {margin-bottom: 1.5rem;}
.mb-17 {margin-bottom: 1.7rem;}
.mb-40 {margin-bottom: 4rem;}
/* left */
.ml-2 {margin-left: .2rem;}
.ml-4 {margin-left: .4rem;}
.ml-5 {margin-left: .5rem;}
.ml-8 {margin-left: .8rem;}
.ml-10 {margin-left: 1rem;}
.ml-15 {margin-left: 1.5rem;}
.ml-16 {margin-left: 1.6rem;}
.ml-17 {margin-left: 1.7rem;}
/* right */
.mr-2 {margin-right: .2rem;}
.mr-4 {margin-right: .4rem;}
.mr-5 {margin-right: .5rem;}
.mr-10 {margin-right: 1rem;}
.mr-12 {margin-right: 1.2rem;}
.mr-16 {margin-right: 1.6rem;}
.mr-17 {margin-right: 1.7rem;}
/* margin 좌우 값 (x축) */
.mx-4 {margin: 0 .4rem;}
.mx-8 {margin: 0 8rem;}
.mx-12 {margin: 0 1.2rem;}
.mx-16 {margin: 0 1.6rem;}
/* margin 상하 값 (y축) */
.my-5 {margin: .5rem 0;}
.my-10 {margin: 1rem 0;}
.my-80 {margin: 8rem 0;}
.my-40 {margin: 4rem 0;}

/* padding */
/* top */
.pt-6 {padding-top: .6rem;}
.pt-10 {padding-top: 1rem;}
.pt-16 {padding-top: 1.6rem;}
.pt-32 {padding-top: 3.2rem;}
.pt-80 {padding-top: 8rem;}
/* bottom */
.pb-5 {padding-bottom: .5rem;}
.pb-10 {padding-bottom: 1rem;}
/* left */
.pl-8 {padding-left: .8rem;}
.pl-10 {padding-left: 1rem;}
/* right */
.pr-4 {padding-right: .4rem;}
.pr-10 {padding-right: 1rem;}
/* padding 좌우 값 (x축) */
.rem-5 {padding: 0 5rem;}
.rem-10 {padding: 0 1rem;}
/* padding 상하 값 (y축) */
.py-5 {padding: .5rem 0;}
.py-10 {padding: 1rem 0;}
.py-40 {padding: 4rem 0;}
/* padding 전체 */
.pd-40 {padding: 4rem;}

/* min-width*/
.miw-60{min-width: 6rem;}
.miw-200{min-width: 20rem;}
.miw-400{min-width: 40rem;}
/* max-width */
.mw-200 {max-width: 20rem;}
.mw-400 {max-width: 40rem;}

/* percentage */
.w-100 {width: 100%;}
.w-90 {width: 90%;}
.w-10 {width: 10%;}
.w-80 {width: 80%;}
.w-50 {width: 50%;}
.w-60 {width: 60%;}
.w-40 {width: 40%;}

.w-60-i {width: 60%!important;}
.w-40-i {width: 40%!important;}

/* min-width percent */
.miw-100per {min-width: 100%;}
.miw-50per {min-width: 50%;}


/* flex */
/* content display pattern */
.flex {display: flex;}
.flex-smColumn-768 {display: flex;} /* 모바일에서 칼럼 1단 */
.flex-ac {display: flex; align-items: center;}
.il-flex-ac {display: inline-flex; align-items: center;}
.flex-acjs {display: flex; align-items: center; justify-content: space-between;}
.flex-ajs {display: flex; justify-content: space-between;}
.flex-grow-1 {flex-grow: 1;}
/* flex item layout */
.flex-item-right {margin-left: auto;}
.flex-item-bottom {margin-top: auto;}
.flex-item-top {margin-bottom: auto;}
.flex-item-left {margin-right: auto;}
.flex-evenly {display: flex;}
.flex-evenly > * {flex: 1;}
.flex-as {display: flex; align-items: flex-start;}
.flex-wrap {flex-wrap: wrap;}
.flex-nowrap {flex-wrap: nowrap;}

/* flex option */
.flex-align-c {align-items: center;}

/* flex column */
.flex-col {display: flex; flex-direction: column;}
.flex-col-ac {display: flex; flex-direction: column; align-items: center;}

/* flex item gap */
.gap-3 {gap: .3rem;}
.gap-4 {gap: .4rem;}
.gap-6 {gap: .6rem;}
.gap-8 {gap: .8rem;}
.gap-10 {gap: 1rem;}
.gap-12 {gap: 1.2rem;}
.gap-16 {gap: 1.6rem;}
.gap-20 {gap: 2rem;}
.gap-24 {gap: 2.4rem;}
.gap-32 {gap: 3.2rem;}
.gap-40 {gap: 4rem;}
.gap-80 {gap: 8rem;}

/* position */
.relative {position: relative;}

/* display */
.hidden {display: none;}
.hidden-value {visibility: hidden;}
.hidden-value::after {content: '\00a0'; visibility: visible;}
.show {display: block;}

/* white-space */
.white-spaceNo {white-space: nowrap;}

/* text align */
.txt-l {text-align: left;}
.txt-r {text-align: right;}
.txt-c {text-align: center;}
/* text transform */
.txt-upper {text-transform: uppercase;}
.txt-lower {text-transform: lowercase;}
.txt-capital {text-transform: capitalize;}
/* text lineheight */
.line-h100 {line-height: 100%;}

/* overflow */
.overflow-auto {overflow: auto;}
.overflow-hidden {overflow: hidden;}

/* text overflow */
.txt-overflow-elip { white-space: nowrap; text-overflow: ellipsis; max-width: 100%; overflow: hidden;}

/* 접근성 */
/* screen reader */
.sr-only {position: absolute; width: .1rem; height: 1rem; clip: rect(0 0 0 0); overflow: hidden;} 
/* skip navigation */
#skip-nav {text-align: center;}
#skip-nav a{ display: block;position:absolute; top:-3rem; left:0; width: 100%; height:3rem; padding:0 .6rem; background:#000; color:#fff; font-size:1.2rem; line-height:3rem;}
#skip-nav a:focus,
#skip_nav a:active{position: static;}

/* table */
table { width: 100%; font-size: 1.7rem;table-layout: fixed; border-collapse: collapse; border-spacing: 0;}
table caption {display: none;}

/* horizontal table */
/* hp : 특정 스타일, 테마, 색상, 이미지 등을 변경 적용 범위 넓을 시 hp 접두어 추가 */
/* txt style */
.hp-txt-emp-00 {color: var(--navy00);}
.hp-txt-gray-07 {color: var(--gray07);}
.hp-txt-white-00 {color: var(--white00);}
.hp-txt-blue-00 {color: var(--blue00);}
.hp-txt-blue-01 {color: var(--blue01);}
.hp-txt-red-00 {color: var(--red00);}
.hp-txt-yellow-00 {color: var(--yellow00);}

/* bg */
.hp-bg-blue-00 {background: var(--blue00);}
.hp-bg-gray-00 {background: var(--gray00);}
.hp-bg-white-00 {background: #fff;}
.hp-bg-lblue-00 {background: #EFF5FF;}
.hp-bg-lblue-01 {background: #EDF1F5;}
.hp-input-00 { height: 4rem; padding: 0 1.2rem; border: 1rem solid #ddd; text-align: left; border-radius: 1rem;}
.hp-responsive-w {width: var(--lg-width, 100%); max-width: var(--lg-maxwidth, auto); min-width: var(--lg-minwidth, 0);}
.lg-responsive-mw {max-width: var(--lg-maxwidth, auto);}
.lg-responsive-miw {min-width: var(--lg-minwidth, auto);}
.hp-miw {min-width: var(--minwidth, auto);}
/* backdrop bg */
.gnb-backdrop {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 999; background-color: rgba(0, 0, 0, 0.5);}
.el-bg-popup {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.75); z-index: 1001;}

/* border-radius */
.hp-border-radius-2 {border-radius: .2rem;}
.hp-border-radius-10 {border-radius: 1rem;}
.hp-border-radius-12 {border-radius: 1.2rem;}
/* border */
.hp-border-gray-04 {border: .1rem solid var(--gray04);}
.hp-border-blue-00 {border: .1rem solid var(--blue00);}
.hp-border-black-00 {border: .1rem solid var(--black00);}
/* borderTop */
.hp-borderTop-gray-04 {border-top: .1rem solid var(--gray04);}
.hp-borderTop-dashedGray-04 {border-top: .1rem dashed var(--gray04);}
.hp-borderTop-gray-03 {border-top: .1rem solid var(--gray03);}
.hp-borderReset {border: 0!important;}
/* font weight */
.hp-font-bold {font-weight: 700;}
.hp-font-regular {font-weight: 400;}
/* icon */
.icon-arrRight-20::after { display: inline-block; width: 2rem; height: 2rem; background: url(../assets/images/icon_arrow_00_right.svg) no-repeat center;content: ''; background-size: cover;}
.icon-arrRight-20.ml-4::after {margin-left: .4rem;}
/* pc 전용 콘텐츠 (모바일에서 display: none) */
.lg-only-768 {display: block;}
.lg-only-1024 {display: block;}
.lg-onlyFlex-768 {display: flex;}
/* 모바일 전용 클래스 (모바일에서 display: block) */
.sm-only-768 {display: none;}
.sm-onlyFlex-768 {display: none;}
/* sm-gap pattern */
.sm-yflexGap-768-00 {display: flex; flex-direction: column; gap: 4rem;}


/* 1024px 이하 태블릿 ~ 모바일 가로 */
@media screen and (max-width : 1024px){
	.md-only-1024 {display:none!important;}

	.md-flexColumn-1024 {display: flex; flex-direction: column;}
	.md-gap-32 {gap: 3.2rem;}
	.md-w-100 {width: 100%;}
}

/* 768이하 모바일 전용 링크 */
@media screen and (max-width: 768px){
	.el-cont-00, .el-cont-01 {padding: 3.2rem 2.4rem;}
	
	/* content display */
	.lg-only-768 {display:none!important}

	/* search form content */
	input[type="text"].bl-search-input {background-size: 2.4rem auto;}


	.lg-onlyFlex-768 {display:none}
	.sm-only-768 {display:block}
	.sm-onlyFlex-768 {display:flex}
	.sm-flexColumn {flex-direction: column;}
	.sm-flexColumn-768 {display: flex; flex-direction: column!important;}
	
	
	/* Responsive 패턴 display */
	.sm-responsiveFlex-768-00 {flex-direction: column;}
	.sm-responsiveFlex-768-00 > * {width: 100%;}

	/* Responsive 패턴 gap */
	.sm-yflexGap-768-00 {gap: 3.2rem;}
	
	/* content display pattern */
	.flex-smColumn-768 {flex-direction: column;}
	.sm-el-text-lv2 {font-size: var(--fontLv2);}
	.sm-el-text-lv3 {font-size: var(--fontLv3);}
	.sm-el-text-lv4 {font-size: var(--fontLv4);}
	.sm-el-text-lv5 {font-size: var(--fontLv5);}
	.sm-el-text-lv6 {font-size: var(--fontLv6);}

	/* content reset */
	.el-cont-00.sm-reset-768{padding: 0; border: 0;}
	.gnb-backdrop {display: none;}
	.sm-py-32 {padding: 3.2rem 0!important}
	.sm-onlyWidth100-768 {width: 100%!important;}

	/* margin-top */
	.sm-mt-24 {margin-top: 2.4rem;}
	.sm-mt-32 {margin-top: 3.2rem}
	.sm-mt-64 {margin-top: 6.4rem!important;}

	/* margin bottom */
	.sm-mb-32 {margin-bottom: 3.2rem;}
	.sm-mb-64 {margin-bottom: 6.4rem;}

	/* sm margin left */
	.sm-ml-16 {margin-left: 1.6rem;}
	.sm-ml-24 {margin-left: 2.4rem;}
	.sm-width-100 {width: 100%!important;}

	.sm-my-24-32 {margin-top: 2.4rem; margin-bottom: 3.2rem;}

	/* hp-responsive width */
	.hp-responsive-w {width: 100%; min-width: 0; max-width: 100%;}
	.lg-responsive-mw {max-width: 100%;}

	/* gap */
	.sm-gap-10 {gap: 1rem;}
	.sm-gap-16 {gap: 1.6rem;}
	.sm-gap-24 {gap: 2.4rem;}
	.sm-gap-24-i {gap: 2.4rem!important;}
	.sm-gap-32 {gap: 3.2rem;}
	.sm-gap-64 {gap: 6.4rem;}

	/* sm width per */
	.sm-w-100 {width: 100%;}

	/* flex equal */
	.sm-flex-evenly > * {flex: 1;}
}

/* 768이상 pc 전용 링크 */
@media screen and (min-width: 768px) {
	.lg-mt-40 {margin-top: 4rem;}
	.lg-mt-80 {margin-top: 8rem;}
	.lg-ml-8 {margin-left: .8rem;}
	/* padding left */
	.lg-pl-8 {padding-left: .8rem;}
	.lg-pt-32 {padding-top: 3.2rem;}
}