/****************************************************
	파일명	: Layout.css
	최초작성자	: 이민혁
	최초작성일	: 2024-09-28
	-------------------------------------------------
	Dec. 레이아웃 관련 CSS 정의
	-------------------------------------------------
	최종수정자	: 이민혁
	최종수정일	: 2024-09-28
	수정내용	: 최초작성
	속성순서    : 레이아웃 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
*****************************************************/

/* body */
body {position: relative;}

/* ly-content */
.ly-cont { margin: 0 auto; max-width: 128rem;}
.ly-contBody-00 {padding-top: 4.8rem; padding-bottom: 8rem;}
.ly-inner {margin: 0 auto; max-width: 128rem;}

/* header */
.ly-header {position: relative; background: var(--white00); z-index: 1000;} 
.ly-header > .ly-inner {position: relative;}
.ly-header.is-fixed {position: fixed; top: 0; left: 0; width: 100%;}
.ly-header .logo > a {height: 100%; max-width: 17.2rem;}
.ly-header .header-bottom {height: 4rem; margin: .4rem 0 1.6rem 0;}

/* header util */
.header-util > ul {padding: 1rem 0;}
.header-util > ul > li {position: relative; font-size: 1.5rem; line-height: 2rem;}
.header-util > ul > li:not(:last-child){padding-right: 1.2rem;}
.header-util > ul > li {padding-left: 1.2rem;}
.header-util > ul > li:not(:first-child)::before { position: absolute; top: 50%; left: 0; height: 1.6rem;content: ''; transform: translateY(-50%); border-left: 0.1rem solid var(--gray03);}
/* header global */
.header-global > ul > li > a { padding: 1rem 1.2rem; font-weight: 700;font-size: 1.7rem; line-height: 2rem;}
.header-global > ul > li > button { padding: 1rem 1.2rem; font-weight: 700;font-size: 1.7rem; line-height: 2rem;}

.header-global .my-page::before {display: inline-block; width: 2rem; height: 2rem; background: url(../assets/images/icon_my_00.svg) no-repeat center; content: ''; margin-right: .8rem;}
.header-global .login::before { display: inline-block; width: 2rem; height: 2rem; background: url(../assets/images/icon_login_00_link.svg) no-repeat center; content: ''; margin-right: .8rem;}
.header-global .sign-up::before { display: inline-block; width: 2rem; height: 2rem; background: url(../assets/images/icon_signup_00_link.svg) no-repeat center;content: ''; margin-right: .8rem;}
.header-global .hamburger::before { display: inline-block; width: 2rem; height: 2rem; background: url(../assets/images/icon_hamburger_00.svg) no-repeat center;content: '';}

/* header gnb */
/* pc gnb */
/* button styling */
.header-gnb { position: relative; border-bottom: .1rem solid var(--gray03); border-top: .1rem solid var(--gray03);}
#gnb-lg .gnb-area .gnb-menu {max-height: 6.4rem;}
#gnb-lg .gnb-area .gnb-menu > button {display: inline-flex; padding: 0 1.6rem; color: var(--gray07); font-weight: 700; font-size: 1.9rem; line-height: 6.4rem; align-items: center;}
#gnb-lg .gnb-area .gnb-menu > button::after { display: inline-block; width: 2rem; height: 2rem; background: url(../assets/images/icon_arrow_00_bottom_16x16.svg) no-repeat center;content: ''; margin-left: .8rem; background-size: cover;}
#gnb-lg .gnb-area .gnb-menu.is-active {border-bottom: .3rem solid #003675;}
#gnb-lg .gnb-area .gnb-menu.is-active > button {color: #003675;}
#gnb-lg .gnb-area .gnb-menu.is-active > button::after {background: url(../assets/images/icon_arrow_00_top_navy.svg) no-repeat center;}
#gnb-lg .gnb-area .gnb-menu.is-active > .gnb-submenu {display: block; visibility: visible; overflow: visible;}
/* submenu styling */
#gnb-lg .gnb-submenu { display: none; position: absolute; top: 100%; left: 0; width: 128rem; height: auto; max-width: 100%; border-bottom: .1rem solid var(--gray04); border-top: .1rem solid var(--gray04); background-color: var(--white00); overflow: hidden; visibility: hidden; }
#gnb-lg .gnb-submenu::before {position: absolute; top: 0; left: 50%; width: 100vw; height: 100%; content: ""; z-index: -1; transform: translateX(-50%); background-color: #fff;}
#gnb-lg .gnb-submenu > ul { display: flex; position: relative; height: 100%; flex-direction: column; padding-top: 1.6rem; padding-bottom: 1.6rem; min-height:20rem;}
#gnb-lg .gnb-submenu > ul::before { position: absolute; top: 0; left: 0; width: 26rem; height: 100%; background: aliceblue;content: '';}
#gnb-lg .gnb-submenu-link {display: flex; width: 26rem; min-height: 5.6rem; align-items: center; }
#gnb-lg .gnb-submenu-link > button { position: relative;width: 100%; padding: 0 2.4rem; font-weight: 700; line-height: 5.6rem; text-align: left;}
/* 3depth actvie style */
#gnb-lg .gnb-submenu-link.is-active {background: var(--white00);}
#gnb-lg .gnb-submenu-link.is-active > button {color: #003675;}
#gnb-lg .gnb-submenu-link.is-active > .dep-wrap {display: block;}
#gnb-lg .gnb-submenu .dep-wrap { display: none; position: absolute; top: 2.4rem; width: calc(100% - 26rem); padding: 0 4rem; margin-left: 26rem;}
#gnb-lg .gnb-submenu .dep-wrap > strong {line-height: 5.6rem;}
#gnb-lg .gnb-submenu > ul::after { display: inline-block; width: 26rem; height: 100%; background: var(--lightblue00); content: '';}
/* common actvie style */
#gnb-lg .dep-content {margin-top: 2.4rem;}
#gnb-lg .dep-content > ul {display: flex; width: 100%; flex-wrap: wrap; margin-top: -.8rem;}
#gnb-lg .dep-content > ul > li { display: flex; position: relative; padding: 1.4rem 0 1.4rem .8rem; margin-top: .8rem; min-height: 4.8rem; align-items: flex-start;}
#gnb-lg .dep-content > ul > li > a {display: inline-block; position: relative; padding-left: 1.2rem;}
#gnb-lg .dep-content > ul > li > a::before { position: absolute; left: 0; content: '•';}
#gnb-lg .dep-content > ul > li:not(:nth-child(4)){width: calc(25% - 1.6rem); margin-right: 1.6rem;}
#gnb-lg .dep-content > ul > li:nth-child(4n){flex: 1;}
/* 2depth actvie style */
#gnb-lg .gnb-area .gnb-menu.is-active.has-dep2 .gnb-submenu > ul {padding-top: 2.4rem;}
#gnb-lg .gnb-area .gnb-menu.is-active.has-dep2 .gnb-submenu-link {width: 100%;}
#gnb-lg .gnb-area .gnb-menu.is-active.has-dep2 .gnb-submenu > ul::before {display: none;}
#gnb-lg .gnb-area .gnb-menu.is-active.has-dep2 .gnb-submenu .dep-wrap {display: block; position: static; width: 100%; padding: 0 0 4rem 0; margin-left: 0;}
#gnb-lg .gnb-area .gnb-menu.is-active.has-dep2 .dep-title {padding-bottom: 1.6rem; border-bottom: .1rem solid var(--gray03);}
/* gnb-mobile */
#gnb-sm {visibility: hidden;}
#gnb-sm.is-open {visibility: visible; overflow-y: scroll;}
#gnb-sm {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #fff; overflow: hidden; z-index: 1001;}
.gnb-sm-in {display: flex; height: 100%; flex-direction: column;}
.gnb-sm-header { padding: 2rem 2.4rem;min-height: 12.8rem;}
.gnb-sm-header .gnb-sm-util {display: flex; align-items: center; margin-bottom: 1.6rem;}
.gnb-sm-header .gnb-sm-util > button { padding: 0 1rem;line-height: 3.2rem;}
.gnb-sm-header .gnb-sm-util > button:not(:first-child){position: relative;}
.gnb-sm-header .gnb-sm-util > button:not(:first-child)::before { display: inline-block; position: absolute; top: 50%; left: 0; width: .1rem; height: 1.6rem; background: var(--gray03);content: ''; transform: translateY(-50%);}
.gnb-sm-close { position: absolute; top: 2.4rem; right: 2.4rem;background: url(../assets/images/icon_close_01_rounded.svg) no-repeat center;}
.gnb-sm-body {flex: 1; border-top: .1rem solid var(--gray03); border-bottom: .1rem solid var(--gray03);}
/* gnb-sm-boy */
.gnb-sm-body .gnb-sm-menu-wrap {display: flex; height: 100%;}
.gnb-sm-body .gnb-sm-menu {width: 14rem; background: var(--lightblue00); border-right: .1rem solid var(--gray03); height: 100%;}
.gnb-sm-body .gnb-sm-submenu {width: calc(100% - 14rem);}
.gnb-sm-body .gnb-sm-menu > ul > li > button {display: block; width: 100%; padding: 0 2.4rem;font-weight: 700; font-size: 1.7rem; text-align: left; min-height: 6.4rem;}
.gnb-sm-body .gnb-sm-menu > ul > li > button.is-active {background: #fff; color: var(--navy00);}
/* gnb submenu */
.gnb-sm-submenu .submenu-wrap {display: none; width: 100%; padding: 1.6rem 2.4rem;}
.gnb-sm-submenu .submenu-wrap > li > button, .gnb-sm-submenu .submenu-wrap > li > a { display: flex; width: 100%;min-height: 7rem;  align-items: center; justify-content: space-between;}
.gnb-sm-submenu .submenu-wrap > li > button.el-toggleList::after {width: 2rem; height: 2rem; background: url(../assets/images/icon_arrow_bottom_gray6.svg) no-repeat center; background-size: cover;}
.gnb-sm-submenu .submenu-wrap .submenu-title{ display: block; width: 100%;font-weight: 700; line-height: 6.4rem; min-height: 6.4rem; border-bottom: .1rem solid var(--gray03);} 
.gnb-sm-submenu .submenu-wrap .submenu-title + li {margin-top: .8rem;}
/* gnb submenu dep 3*/
.gnb-sm-submenu .submenu-wrap .submenu-dep3 {display: none;}
.gnb-sm-submenu .submenu-wrap .submenu-dep3 > ul > li {padding: 0 1.6rem;}
.gnb-sm-submenu .submenu-wrap .submenu-dep3 > ul > li > a {display: flex; align-items: center; min-height: 6.2rem;}
.gnb-sm-submenu .submenu-wrap .submenu-dep3 > ul > li > a::before {color: var(--black00);content: "•"; margin-right: .8rem;}

/* gnb active style */
.gnb-sm-submenu .submenu-wrap li.is-open .submenu-dep3  {display: block;}
.gnb-sm-submenu .submenu-wrap.is-active {display: block;}
.gnb-sm-footer { display: flex; min-height: 7.2rem; align-items: center; justify-content: flex-start; padding-left: 2.4rem;}


/* footer */
.ly-footer .footer-logo > a {display: inline-block; height: 100%; max-width: 17.2rem;}
/* footer quick */
.footer-quick {border-top: .1rem solid var(--gray03); border-bottom: .1rem solid var(--gray03);}
.footer-quick .footer-quick-link {flex: 1; border-left: .1rem solid var(--gray03);}
.footer-quick .footer-quick-link:last-child {border-right: .1rem solid var(--gray03);}
.footer-quick-link > button { position: relative; width: 100%; height: 5.6rem; padding: 0 2.4rem; text-align: left;}
.footer-quick-link > button::after { position: absolute; top: 50%; right: 2.4rem; width: 2rem; height: 2rem; background: url(../assets/images/icon_plus_00_20x20.svg) no-repeat center;content: ""; transform: translateY(-50%);}
/* footer body */
.footer-body { padding: 4rem 0;background: var(--gray01);}
.footer-body .link-go > a { font-weight: 700;line-height: 2.4rem;}
.footer-menu {display: inline-flex; align-items: center; flex-wrap: wrap; gap: 1.6rem;}
.footer-body .info-cs {display: flex; flex-direction: column; gap: 2rem; margin-top: 2.4rem;}
.footer-body .info-cs > p {line-height: 2rem;}
/* footer sns-link */
.footer-body .sns-wrap > li > a {display:inline-flex; width: 4rem; height: 4rem; border: .1rem solid var(--gray02); align-items: center; justify-content: center; border-radius: 50%;}
.footer-body .sns-wrap > li > a.insta {background: url(../assets/images/icon_link_instagram_00.svg) no-repeat center;}
.footer-body .sns-wrap > li > a.youtube {background: url(../assets/images/icon_link_youtube_00.svg) no-repeat center;}
.footer-body .sns-wrap > li > a.facebook {background: url(../assets/images/icon_link_facebook_00.svg) no-repeat center;}
.footer-body .sns-wrap > li > a.naverblog {background: url(../assets/images/icon_link_blog_00.svg) no-repeat center;}

@media screen and (max-width: 1024px){
	/* header */
	.header-gnb #gnb-lg {display: none;}
	.header-gnb {border-bottom: 0;}
	.header-global > ul > li > a { padding: .55rem .4rem; font-weight: 400; font-size: 1.3rem; line-height: 100%; white-space: nowrap; flex-direction: column;}
	.header-global > ul > li > a::before {margin-right: 0!important; margin-bottom: .4rem;}
}


@media screen and (max-width: 768px){
	/* common */
	.ly-contBody-00 {padding-bottom: 6.4rem;}
	/* header */
	.header-gnb {border-top: 0; border-bottom: 0;}
	.ly-header .header-bottom { height: 4.8rem; margin: .8rem 0;}
	.hp-header-border {width: 100vw; height: .1rem; background: var(--gray03); margin-left: calc(-50vw + 50%);}
	/* footer */
	.footer-body {padding: 3.2rem 0;}
	.footer-quick .footer-quick-link:not(:last-child) {border-bottom: .1rem solid var(--gray03); border-right: .1rem solid var(--gray03);}
	.footer-body .link-go {margin-top: 3.2rem;}
	.copyright {padding-top: 2.4rem;}
	.footer-quick > .ly-inner {padding: 0;} 
}

@media screen and (max-width: 1280px){
	/* common */
	.ly-inner {padding-left: 1.6rem; padding-right: 1.6rem;}
}

