/****************************************************
	파일명	: Layout.css
	최초작성자	: 이민혁
	최초작성일	: 2024-09-28
	-------------------------------------------------
	Dec. 레이아웃 관련 CSS 정의
	-------------------------------------------------
	최종수정자	: 이민혁
	최종수정일	: 2024-09-28
	수정내용	: 최초작성
	속성순서    : 레이아웃 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
*****************************************************/

/* body */
body {position: relative;}

/* ly-content */
.ly-cont { margin: 0 auto; max-width: 128rem;}
.ly-contBody-00 {padding-top: 4.8rem; padding-bottom: 8rem;}
.ly-inner {margin: 0 auto; max-width: 128rem;}

/* header */
.ly-header {position: relative; background: var(--white00); z-index: 1000;} 
.ly-header > .ly-inner {position: relative;}
.ly-header.is-fixed {position: fixed; top: 0; left: 0; width: 100%;}
.ly-header .logo > a {height: 100%; max-width: 17.2rem;}
.ly-header .header-bottom {height: 4rem; margin: .4rem 0 1.6rem 0;}

/* header util */
.header-util > ul {padding: 1rem 0;}
.header-util > ul > li {position: relative; font-size: 1.5rem; line-height: 2rem;}
.header-util > ul > li:not(:last-child){padding-right: 1.2rem;}
.header-util > ul > li {padding-left: 1.2rem;}
.header-util > ul > li:not(:first-child)::before { position: absolute; top: 50%; left: 0; height: 1.6rem;content: ''; transform: translateY(-50%); border-left: 0.1rem solid #ddd;}
/* header global */
.header-global > ul > li > a { padding: 1rem 1.2rem; font-weight: 700;font-size: 1.7rem; line-height: 2rem;}
.header-global .login::before { display: inline-block; width: 2rem; height: 2rem; background: url(../assets/images/icon_login_00_link.svg) no-repeat center;content: ''; margin-right: .8rem;}
.header-global .sign-up::before { display: inline-block; width: 2rem; height: 2rem; background: url(../assets/images/icon_signup_00_link.svg) no-repeat center;content: ''; margin-right: .8rem;}
.header-global .hamburger::before { display: inline-block; width: 2rem; height: 2rem; background: url(../assets/images/icon_hamburger_00.svg) no-repeat center;content: '';}

/* header gnb */
/* pc gnb */
.header-gnb { position: relative; border-bottom: .1rem solid var(--gray03);}
#gnb-lg .gnb-area .gnb-menu {max-height: 6.4rem;}
#gnb-lg .gnb-area .gnb-menu > button {display: inline-flex; padding: 0 1.6rem; color: var(--gray07); font-weight: 700; font-size: 1.9rem; line-height: 6.4rem; align-items: center;}
#gnb-lg .gnb-area .gnb-menu > button::after { display: inline-block; width: 2rem; height: 2rem; background: url(../assets/images/icon_arrow_00_bottom_20x20.svg) no-repeat center;content: ''; margin-left: .8rem;}
#gnb-lg .gnb-area .gnb-menu.is-active {border-bottom: .3rem solid #003675;}
#gnb-lg .gnb-area .gnb-menu.is-active > button::after {transform: rotate(180deg);}
#gnb-lg .gnb-area .gnb-menu.is-active > .gnb-submenu {display: block;}
#gnb-lg .gnb-submenu { display: none; position: absolute; top: 100%; left: 0; width: 100vw; height: auto; border-bottom: .1rem solid var(--gray04); border-top: .1rem solid var(--gray04); background-color: var(--white00); margin-left: calc(-50vw + 50%);}
#gnb-lg .gnb-submenu > ul { display: flex; position: relative; height: 100%; flex-direction: column;}
#gnb-lg .gnb-submenu-link {display: inline-flex; font-weight: 700; font-size: 1.9rem; min-height: 5.6rem; align-items: center;}
#gnb-lg .gnb-submenu-link.is-active > button {color: #003675; text-decoration: underline; background-color: aliceblue;}
#gnb-lg .gnb-submenu-link.is-active > .dep3 {display: block;}
#gnb-lg .gnb-submenu .dep3 { display: none;position: absolute; top: 1.6rem; left: 0; width: calc(100% - 26rem); margin-left: 26rem;}
#gnb-lg .gnb-submenu > ul::after { display: inline-block; width: 26rem; height: 100%; background: aliceblue;content: '';}

/* footer */
.ly-footer .footer-logo > a {display: inline-block; height: 100%; max-width: 17.2rem;}
/* footer quick */
.footer-quick {border-top: .1rem solid var(--gray03); border-bottom: .1rem solid var(--gray03);}
.footer-quick .footer-quick-link {flex: 1; border-left: .1rem solid var(--gray03);}
.footer-quick .footer-quick-link:last-child {border-right: .1rem solid var(--gray03);}
.footer-quick-link > button { position: relative; width: 100%; height: 5.6rem; padding: 0 2.4rem; text-align: left;}
.footer-quick-link > button::after { position: absolute; top: 50%; right: 2.4rem; width: 2rem; height: 2rem; background: url(../assets/images/icon_plus_00_20x20.svg) no-repeat center;content: ""; transform: translateY(-50%);}
/* footer body */
.footer-body { padding: 4rem 0;background: var(--gray01);}
.footer-body .link-go > a { font-weight: 700;line-height: 2.4rem;}
.footer-menu {display: inline-flex; align-items: center; flex-wrap: wrap; gap: 1.6rem;}
.footer-body .info-cs {display: flex; flex-direction: column; gap: 2rem; margin-top: 2.4rem;}
.footer-body .info-cs > p {line-height: 2rem;}
/* footer sns-link */
.footer-body .sns-wrap > li > a {display:inline-flex; width: 4rem; height: 4rem; border: .1rem solid var(--gray02); align-items: center; justify-content: center; border-radius: 50%;}
.footer-body .sns-wrap > li > a.insta {background: url(../assets/images/icon_link_instagram_00.svg) no-repeat center;}
.footer-body .sns-wrap > li > a.youtube {background: url(../assets/images/icon_link_youtube_00.svg) no-repeat center;}
.footer-body .sns-wrap > li > a.facebook {background: url(../assets/images/icon_link_facebook_00.svg) no-repeat center;}
.footer-body .sns-wrap > li > a.naverblog {background: url(../assets/images/icon_link_blog_00.svg) no-repeat center;}

@media screen and (max-width: 768px){
	/* common */
	.ly-contBody-00 {padding-bottom: 6.4rem;}

	/* header */
	.ly-header .header-bottom { height: 4.8rem; margin: .8rem 0;}
	.hp-header-border {width: 100vw; margin-left: calc(-50vw + 50%);}
	.header-global > ul > li > a { padding: .55rem .4rem; font-weight: 400; font-size: 1.3rem; line-height: 100%;flex-direction: column;}
	.header-global > ul > li > a::before {margin-right: 0!important; margin-bottom: .4rem;}
	/* footer */
	.footer-body {padding: 3.2rem 0;}
	.footer-quick .footer-quick-link:not(:last-child) {border-bottom: .1rem solid var(--gray03);}
	.footer-body .link-go {margin-top: 3.2rem;}
	.copyright {padding-top: 2.4rem;}
}

@media screen and (max-width: 1280px){
	/* common */
	.ly-inner {padding-left: 1.6rem; padding-right: 1.6rem;}

}

