/****************************************************
	파일명	: style.css
	최초작성자	: 이민혁
	최초작성일	: 2024-09-28
	-------------------------------------------------
	Dec. 상세스타일 관련 스타일
	-------------------------------------------------
	최종수정자	: 이민혁
	최종수정일	: 2024-09-28
	수정내용	: 최초작성
	속성순서: 레이아웃 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
*****************************************************/

/* top gov banner */
.gov-banner {position: relative; background: var(--lightblue00);}
.gov-banner .gov-desc {display: flex; height: 3.2rem; font-weight: 400; font-size: 1.5rem; align-items: center; gap: 0.4rem;}
.gov-banner .gov-desc > img {box-shadow: 0 0 .2rem rgba(0, 0, 0, .1);}

/* vertical table */
.bl-vertical-list {border-top: 2px solid #000; border-bottom: 1px solid #ddd;}
.bl-vertical-list tr {border-top: 1px solid #ddd;}
.bl-vertical-list thead th { padding: 15px; background: #f9f9f9;text-align: center; white-space: nowrap; border-right: 1px solid #ddd;}
.bl-vertical-list thead th:last-child{border-right: 0;}
.bl-vertical-list tbody td {padding: 15px; vertical-align: middle; word-break: break-all;}

/* horizontal table */
.bl-rowTable {border-top: 2px solid #000; border-bottom: 1px solid #ddd;}
.bl-rowTable tr {border-top: 1px solid #ddd;}
.bl-rowTable th {padding: 20px; background: #f9f9f9; line-height: 22px; text-align: left;}
.bl-rowTable td {padding: 20px; line-height: 22px; text-align: left;}

/* form-group */
.bl-formgroup-w {max-width: var(--max-width, 100%);}
.bl-formgroup{max-width: var(--max-width, 100%); display: flex; flex-direction: column; gap: 1.2rem;}
.bl-formgroup label {font-size: 1.5rem; font-weight: 400;}
.bl-formgroup input {min-width: 0;}
.bl-formlist {display: flex; gap: .8rem; align-items: center;}

/* modal */
.bl-modal-00 { display: none;position: fixed; top: 50%; left: 50%; width: 100%; transform: translate(-50%, -50%); z-index: 1002; max-width: 72rem; max-height: 98%; overflow: auto;}
.bl-modal-00 .modal-body-desc {color: var(--gray07);}
.bl-modal-00 .modal-body-desc strong {font-weight: 400;}

/* bl-infolist */
.bl-infolist > li {position: relative; padding-left: 1.6rem;}
.bl-infolist > li > span {display: inline-block;}
.bl-infolist.demical > li::before {content: "•"; color: var(--gray07);}
.bl-infolist > li::before {position: absolute; left: 0; top: 0;}
.bl-infolist-desc {color: var(--gray07);}
.bl-infolist-tit {min-width: 13rem;}

/* bl-title */
.bl-text-00 {font-size: 4rem; font-weight: 700; padding-top: 8rem;}


/* breadcrumb */
.bl-breadcrumb {display: flex; font-weight: 700; font-size: 1.5rem; align-items: center; padding-left: 2.4rem;}
.bl-breadcrumb .path .home > a {position: relative;}
.bl-breadcrumb .path .home > a::before { display : inline-block;position: absolute; top: 50%; right: 1.2rem; width: 2.4rem; height: 2.4rem; background: url(../assets/images/icon_home_00_breadcrumb.svg) no-repeat center;content: ""; transform: translateY(-50%); margin-right: .2rem;}
.bl-breadcrumb .path > li {display: inline;}
.bl-breadcrumb .path > li > a { position: relative; font-weight: 400;padding-bottom: 0.1rem; text-decoration: underline; text-underline-position: under;}
.bl-breadcrumb .path > li + li::before { display: inline-block;width: 2rem;height: 2rem; margin: 0 0.4rem;background: url(../assets/images/icon_arrow_00_right.svg) no-repeat center;content: "";vertical-align: middle;}

/* step */
.bl-step { display: flex;width: 100%; justify-content: center;}
.bl-step .step {display: block; color: var(--gray07); margin: 1.2rem 0;}
.bl-step .step-tit {font-weight: 700;}
.bl-step li {position: relative;}
.bl-step li:not(:last-child){flex: 1;}
.bl-step li:not(:last-child)::after { display: inline-block; position: absolute; top: 1rem; left: 0; width: 100%; height: .12rem; background: var(--gray04);content: ''; padding-right: 1rem; }
.bl-step li:first-child {z-index: 6;}
/* is-done = 완료 */
.bl-step li.is-done::after {background: var(--navy00);}
.bl-step li.is-done .step-ico {background: url(../assets/images/icon_check_00_navy_16x16.svg) no-repeat center;}
.bl-step .step-ico {display: inline-flex; position: relative; width: 1.6rem; height: 1.6rem; background: var(--gray02); align-items: center; justify-content: center; border-radius: 50%; z-index: 5;}
/* is-curr = 진행중 */
.bl-step li.is-curr .step-ico {width: 2rem; height: 2rem; background: url(../assets/images/icon_step_00_currentstep.svg) no-repeat center;}

/* fold faq */
.bl-foldFaq {width: 100%;}
.bl-foldFaq summary { position: relative; border: 1px solid red;cursor: pointer;} 
.bl-foldFaq > details > summary::before { position: absolute; top: 50%; right: 1rem; content: '+'; transform: translateY(-50%);}
.bl-foldFaq > details[open] > summary::before {content: '-';}
.bl-foldFaq-content {max-height: 0; overflow: hidden; transition: max-height 500ms ease-out;}

/* option select */
.bl-select {position: relative;}
.bl-select > button {width: 100%; height: 100%;}
.bl-select.is-open .bl-select-optList {max-height: 20rem; overflow-y: auto;}
.bl-select-optList { position: absolute; bottom: 100%; width: 100%; border: 0.1rem solid #ddd; overflow: hidden; transition: max-height .5s, overflow .5s; max-height: 0; overflow-y: hidden;} 

/* img box */
.bl-imgBox {border-radius: .8rem; overflow: hidden;}
.bl-imgBox > img {width: 100%;}

@media only screen and (max-width:768px) {
	/* row table */
	.bl-rowTable th, .bl-rowTable td { display: block;width: 100%;}
	.bl-rowTable th {background: transparent;}
	.bl-rowTable, .bl-rowTable thead, .bl-rowTable tbody, .bl-rowTable th, .bl-rowTable td, .bl-rowTable tr {display: block;}
	/* step */
	.bl-step .step, .bl-step .step-tit {display: none;}

	.el-check-00.sm-res-768 > div {width: 100%;}

	/* bl-title */
	.bl-text-00 {font-size: 3.2rem; padding-top: 6.4rem;}
}

@media only screen and (min-width: 768px){
	.bl-infolist-desc {margin-left: 8rem;}
}